name: release

on:
  push:
    branches:
    - '!*'
    tags:
    - '*'

defaults:
  run:
    shell: bash

env:
  DOTNET_SKIP_FIRST_TIME_EXPERIENCE: true

jobs:
  release:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Setup dotnet
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: '5.0.x'

    - name: Build
      run: dotnet build

    - name: Test
      run: dotnet test

    - name: Get version
      id: branch_name
      run: echo ::set-output name=TAG::${GITHUB_REF#refs/tags/v}

    - name: Pack
      run: dotnet pack -p:Version=${{ steps.branch_name.outputs.TAG }} -p:PackageOutputPath="../../dist" -p:ContinuousIntegrationBuild=true

    - name: Push to NuGet
      env:
        NUGET_API_KEY: ${{ secrets.NUGET_API_KEY }}
      run: dotnet nuget push "./dist/*.nupkg" -k "$NUGET_API_KEY" -s https://api.nuget.org/v3/index.json --skip-duplicate
